In [1]:
n=input("enter 5 numbers seperated by comma:")
print("output",n)

enter 5 numbers seperated by comma:1,3,2,4,5
output 1,3,2,4,5

In [8]:
p=list(input("enter 3 colors seperated by comma:").split(','))
print("output",p[0])

enter 3 colors seperated by comma:red,purple,pink
output red

In [7]:
p=set(input("enter 3 colors seperated by comma:").split(','))
q=set(input("enter 3 colors seperated by comma:").split(','))
c=p-q
print("output",c)

enter 3 colors seperated by comma:red,blue,black
enter 3 colors seperated by comma:green,purple,pink
output {'red', 'black', 'blue'}

In [11]:
p=input("enter 3 students name seperated by comma:").split(',')
pd={1:p[0],2:p[1],3:p[2]}
print("dictionary1:",pd)

q=input("enter 3 students name seperated by comma:").split(',')
qd={4:q[0],5:q[1],6:q[2]}
print("dictionary2:",qd)

pd.update(qd)

print("merged:",pd)

enter 3 students name seperated by comma:athulya,ayisha,nidha
dictionary1: {1: 'athulya', 2: 'ayisha', 3: 'nidha'}
enter 3 students name seperated by comma:aneesa,rashi,aammi
dictionary2: {4: 'aneesa', 5: 'rashi', 6: 'aammi'}
merged: {1: 'athulya', 2: 'ayisha', 3: 'nidha', 4: 'aneesa', 5: 'rashi', 6: 'aammi'}

In [13]:
roll=input("enter 3 roll number seperated by comma:").split(',')
name=input("enter 3 name seperated by comma:").split(',')

d={roll[0]:name[0],roll[1]:name[1],roll[2]:name[2]}

print("dict",d)
s=dict(sorted(d.items()))
print("sorted dict",s)

enter 3 roll number seperated by comma:10,11,12
enter 3 name seperated by comma:athulya,ayisha,aneesa
dict {'10': 'athulya', '11': 'ayisha', '12': 'aneesa'}
sorted dict {'10': 'athulya', '11': 'ayisha', '12': 'aneesa'}

In [ ]:
roll=input("")